# -*- python -*-
# ex: set syntax=python:

# The base URL for the repo
BASEURL = 'https://github.com/mcallegari/qlcplus'
# Stub to add to the base URL to pull from
REPOSTUB = '.git'
# Stub to add to the base URL to get revision links
REVLINKSTUB = '/commit/%s'

# Title, 'project' is appended to the title.
TITLE = "QLC+"
# URL of the project
URL = "http://qlcplus.sourceforge.net/index.shtml"
# URL of the buildbot
BUILDBOTURL = "http://qlcplusbuildbot.openlighting.org/"

# IRC server
IRCSERVER = "irc.freenode.org"
# IRC bot base name
IRCBOTBASENAME = "OLA-buildbot"
# Main IRC channel
#Reverting to one IRC bot, as buildbot doesn't seem to cope with two properly
#IRCCHANNEL = "#openlighting-buildbot"
# Bot IRC channel
IRCBOTCHANNEL = "#openlighting-build"

# The port the slaves connect to
SLAVE_PORT = 9989

CPP_LINT_ARGS = '--filter=-legal/copyright,-readability/streams,-runtime/arrays'
# Todo, lint for JSDoc and add the strict option
# Possibly also run the closure compiler for any errors and warnings it throws out
JS_LINT_ARGS = '--nojsdoc'

# The slaves, broken down by:
# 'platform': {
#    'arch': {
#       [slave names],
#    },
# }
#Slow slaves will merge requests, good for those that are struggling to keep up
SLAVES = {
  'debian-wheezy': {
    'arm': [
        Slave('noopenslp-1', is_slow=True),  # Simon (Beaglebone Black)
    ],
    'armv6l': [  # Raspberry Pi slaves
      Slave('noopenslp-1', has_js_lint=True, is_slow=True),  # Simon (Apt 402)
      Slave('withopenslp-1', is_slow=True),  # Simon (Lumen Radio)
      Slave('withopenslp-2', has_cpp_lint=True, no_build=True, is_slow=True),  # Peter
    ],
    'i686': [
      Slave('docs', generate_doc=True, generate_man=True,
            no_build=True),  # Simon, GCE VM
      Slave('noopenslp'),  # RenZO
    ],
    'x86_64': [
      Slave('noopenslp'),  # RenZO
    ],
  },
  'freebsd': {
    'amd64': [
      Slave('noopenslp'),  # RenZO
    ],
  },
  'gentoo': {
    'armv7l': [
      Slave('noopenslp'),  # kripton
    ],
  },
  'macos': {
    'x86_64': [
      Slave('1'),  # Simon
      Slave('2'),  # mightymu
    ],
  },
  'netbsd': {
    'amd64': [
      Slave('noopenslp'),  # RenZO
    ],
  },
  'openbsd': {
    'amd64': [
      Slave('noopenslp'),  # RenZO
    ],
  },
  'ubuntu-tahr': {
    'i686': [
      Slave('noopenslp', has_cpp_lint=True, has_tcmalloc=True),  # Simon
    ],
  }
}

#The logfiles section is generated using the following command (regenerate when we add new folders):
#tree -f -i --noreport -P "Makefile.mk|Makefile.am" | grep -E "Makefile.(mk|am)"  | perl -ne 'my $file = $_; chomp($file); $file =~ s/Makefile\.(?>mk|am)$/test-suite.log/; $file =~ s/^\.\///; $name = $file; $name =~ s/\//-/g; print "  \"$name\": \"$file\",\n"'
LOGFILES = {
  "common-base-test-suite.log": "common/base/test-suite.log",
  "common-dmx-test-suite.log": "common/dmx/test-suite.log",
  "common-export_map-test-suite.log": "common/export_map/test-suite.log",
  "common-file-test-suite.log": "common/file/test-suite.log",
  "common-http-test-suite.log": "common/http/test-suite.log",
  "common-io-test-suite.log": "common/io/test-suite.log",
  "common-test-suite.log": "common/test-suite.log",
  "common-math-test-suite.log": "common/math/test-suite.log",
  "common-messaging-test-suite.log": "common/messaging/test-suite.log",
  "common-network-test-suite.log": "common/network/test-suite.log",
  "common-protocol-test-suite.log": "common/protocol/test-suite.log",
  "common-rdm-test-suite.log": "common/rdm/test-suite.log",
  "common-rpc-test-suite.log": "common/rpc/test-suite.log",
  "common-strings-test-suite.log": "common/strings/test-suite.log",
  "common-system-test-suite.log": "common/system/test-suite.log",
  "common-testing-test-suite.log": "common/testing/test-suite.log",
  "common-thread-test-suite.log": "common/thread/test-suite.log",
  "common-timecode-test-suite.log": "common/timecode/test-suite.log",
  "common-utils-test-suite.log": "common/utils/test-suite.log",
  "common-web-test-suite.log": "common/web/test-suite.log",
  "data-test-suite.log": "data/test-suite.log",
  "data-rdm-test-suite.log": "data/rdm/test-suite.log",
  "debian-test-suite.log": "debian/test-suite.log",
  "doxygen-examples-test-suite.log": "doxygen/examples/test-suite.log",
  "doxygen-test-suite.log": "doxygen/test-suite.log",
  "examples-test-suite.log": "examples/test-suite.log",
  "include-test-suite.log": "include/test-suite.log",
  "include-ola-acn-test-suite.log": "include/ola/acn/test-suite.log",
  "include-ola-base-test-suite.log": "include/ola/base/test-suite.log",
  "include-ola-client-test-suite.log": "include/ola/client/test-suite.log",
  "include-ola-dmx-test-suite.log": "include/ola/dmx/test-suite.log",
  "include-ola-e133-test-suite.log": "include/ola/e133/test-suite.log",
  "include-ola-file-test-suite.log": "include/ola/file/test-suite.log",
  "include-ola-http-test-suite.log": "include/ola/http/test-suite.log",
  "include-ola-io-test-suite.log": "include/ola/io/test-suite.log",
  "include-ola-test-suite.log": "include/ola/test-suite.log",
  "include-ola-math-test-suite.log": "include/ola/math/test-suite.log",
  "include-ola-messaging-test-suite.log": "include/ola/messaging/test-suite.log",
  "include-ola-network-test-suite.log": "include/ola/network/test-suite.log",
  "include-ola-rdm-test-suite.log": "include/ola/rdm/test-suite.log",
  "include-ola-rpc-test-suite.log": "include/ola/rpc/test-suite.log",
  "include-ola-stl-test-suite.log": "include/ola/stl/test-suite.log",
  "include-ola-strings-test-suite.log": "include/ola/strings/test-suite.log",
  "include-ola-system-test-suite.log": "include/ola/system/test-suite.log",
  "include-ola-testing-test-suite.log": "include/ola/testing/test-suite.log",
  "include-ola-thread-test-suite.log": "include/ola/thread/test-suite.log",
  "include-ola-timecode-test-suite.log": "include/ola/timecode/test-suite.log",
  "include-ola-util-test-suite.log": "include/ola/util/test-suite.log",
  "include-ola-web-test-suite.log": "include/ola/web/test-suite.log",
  "include-olad-test-suite.log": "include/olad/test-suite.log",
  "java-test-suite.log": "java/test-suite.log",
  "test-suite.log": "test-suite.log",
  "man-test-suite.log": "man/test-suite.log",
  "ola-test-suite.log": "ola/test-suite.log",
  "olad-test-suite.log": "olad/test-suite.log",
  "olad-www-test-suite.log": "olad/www/test-suite.log",
  "plugins-artnet-test-suite.log": "plugins/artnet/test-suite.log",
  "plugins-artnet-messages-test-suite.log": "plugins/artnet/messages/test-suite.log",
  "plugins-dmx4linux-test-suite.log": "plugins/dmx4linux/test-suite.log",
  "plugins-dummy-test-suite.log": "plugins/dummy/test-suite.log",
  "plugins-e131-e131-test-suite.log": "plugins/e131/e131/test-suite.log",
  "plugins-e131-test-suite.log": "plugins/e131/test-suite.log",
  "plugins-e131-messages-test-suite.log": "plugins/e131/messages/test-suite.log",
  "plugins-espnet-test-suite.log": "plugins/espnet/test-suite.log",
  "plugins-ftdidmx-test-suite.log": "plugins/ftdidmx/test-suite.log",
  "plugins-gpio-test-suite.log": "plugins/gpio/test-suite.log",
  "plugins-karate-test-suite.log": "plugins/karate/test-suite.log",
  "plugins-kinet-test-suite.log": "plugins/kinet/test-suite.log",
  "plugins-test-suite.log": "plugins/test-suite.log",
  "plugins-milinst-test-suite.log": "plugins/milinst/test-suite.log",
  "plugins-opendmx-test-suite.log": "plugins/opendmx/test-suite.log",
  "plugins-openpixelcontrol-test-suite.log": "plugins/openpixelcontrol/test-suite.log",
  "plugins-osc-test-suite.log": "plugins/osc/test-suite.log",
  "plugins-pathport-test-suite.log": "plugins/pathport/test-suite.log",
  "plugins-renard-test-suite.log": "plugins/renard/test-suite.log",
  "plugins-sandnet-test-suite.log": "plugins/sandnet/test-suite.log",
  "plugins-shownet-test-suite.log": "plugins/shownet/test-suite.log",
  "plugins-spi-test-suite.log": "plugins/spi/test-suite.log",
  "plugins-stageprofi-test-suite.log": "plugins/stageprofi/test-suite.log",
  "plugins-uartdmx-test-suite.log": "plugins/uartdmx/test-suite.log",
  "plugins-usbdmx-test-suite.log": "plugins/usbdmx/test-suite.log",
  "plugins-usbpro-test-suite.log": "plugins/usbpro/test-suite.log",
  "plugins-usbpro-messages-test-suite.log": "plugins/usbpro/messages/test-suite.log",
  "protoc-test-suite.log": "protoc/test-suite.log",
  "python-examples-test-suite.log": "python/examples/test-suite.log",
  "python-test-suite.log": "python/test-suite.log",
  "python-ola-test-suite.log": "python/ola/test-suite.log",
  "python-ola-rpc-test-suite.log": "python/ola/rpc/test-suite.log",
  "tools-e133-test-suite.log": "tools/e133/test-suite.log",
  "tools-ja-rule-test-suite.log": "tools/ja-rule/test-suite.log",
  "tools-logic-test-suite.log": "tools/logic/test-suite.log",
  "tools-test-suite.log": "tools/test-suite.log",
  "tools-ola_trigger-test-suite.log": "tools/ola_trigger/test-suite.log",
  "tools-rdm-test-suite.log": "tools/rdm/test-suite.log",
  "tools-rdmpro-test-suite.log": "tools/rdmpro/test-suite.log",
  "tools-usbpro-test-suite.log": "tools/usbpro/test-suite.log",
}
