# -*- python -*-
# ex: set syntax=python:

# The base URL for the repo
BASEURL = 'https://github.com/mcallegari/qlcplus'
# Stub to add to the base URL to pull from
REPOSTUB = '.git'
# Stub to add to the base URL to get revision links
REVLINKSTUB = '/commit/%s'

# Title, 'project' is appended to the title.
TITLE = "QLC+"
# URL of the project
URL = "http://qlcplus.sourceforge.net/index.shtml"
# URL of the buildbot
BUILDBOTURL = "https://qlcplusbuildbot.openlighting.org/"

# IRC server
IRCSERVER = "irc.freenode.org"
# IRC bot base name
IRCBOTBASENAME = "QLCplus-buildbot"
# Main IRC channel
# Bot IRC channel
#IRCBOTCHANNEL = "#qlcplus-build"

# The port the slaves connect to
SLAVE_PORT = 9990

#CPP_LINT_ARGS = '--filter=-legal/copyright,-readability/streams,-runtime/arrays'
# Todo, lint for JSDoc and add the strict option
# Possibly also run the closure compiler for any errors and warnings it throws out
#JS_LINT_ARGS = '--nojsdoc'

# The slaves, broken down by:
# 'platform': {
#    'arch': {
#       [slave names],
#    },
# }
#Slow slaves will merge requests, good for those that are struggling to keep up
SLAVES = {
  'gentoo': {
    'armv7l': [
      Slave('noopenslp'),  # kripton
    ],
  },
  'macos': {
    'x86_64': [
      Slave('1'),  # Simon
    ],
  },
  'ubuntu-tahr': {
    'i686': [
      Slave('noopenslp', has_cpp_lint=True, has_tcmalloc=True),  # Simon
    ],
  }
}

#Logfiles to gather
LOGFILES = {
}
